$primary-color: #5a1069;
$bg-light: #faf4fc;
$border-color: #e7d6eb;
$text-light: #ffffff;

.navbar {
  @media (min-width: 992px) {
    display: none;
  }

  .menu-wrapper {
    width: 2rem;
    height: 2rem;
    position: relative;
    z-index: 6;
    display: flex;
    justify-content: space-around;
    flex-flow: column nowrap;
    cursor: pointer;
    transition: transform 0.3s ease;
    background-color: transparent;
    border-radius: 8px;

    div {
      width: 2rem;
      height: 0.25rem;
      border-radius: 10px;
      background-color: $primary-color;
      transform-origin: center;
      transition: all 0.3s ease;
    }

    &.open {
      position: fixed;
      top: 27px;
      right: 30px;
      width: 3rem;
      height: 3rem;
      background-color: #fff;
      display: flex;
      align-items: center;
      justify-content: center;

      div {
        position: absolute;
        background-color: $primary-color;
        transition: all 0.3s ease;

        &:nth-child(1) {
          transform: rotate(45deg);
        }
        &:nth-child(2) {
          opacity: 0;
        }
        &:nth-child(3) {
          transform: rotate(-45deg);
        }
      }
    }
  }

  .nav-wrapper {
    position: fixed;
    top: 0;
    right: 0;
    width: 50%;
    height: 100vh;
    z-index: 1;
    transform: translateX(100%);
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease-in-out;
    background-color: $primary-color;

    @media (max-width: 600px) {
      width: 100%;
    }

    &.open {
      transform: translateX(0);
      opacity: 1;
      visibility: visible;
      nav {
        position: relative;
        width: 100%;
        height: 100%;
        padding: 24px;
        ul {
          margin-top: 10%;
          display: flex;
          flex-direction: column;
          align-items: start;
          width: 100%;

          li {
            list-style: none;
            font-size: 2.5rem;
            text-align: center;
            transition: all 0.3s ease;
            width: fit-content;
            padding: 0;
            a {
              font-size: 2.3rem;
              color: rgb(255, 255, 255);
              text-decoration: none;
              font-weight: 500;
              transition: color 0.2s;

              @media (max-width: 600px) {
                font-size: 2.2rem;
              }
            }
          }
        }
        .nav-socials {
          position: absolute;
          bottom: 100px;
          display: flex;
          flex-direction: row;

          li {
            a {
              font-size: 1rem;
              font-weight: 600;
            }
          }
        }
      }
    }
  }
}
