$primary-color: #5a1069;
$bg-light: #faf4fc;
$border-color: #e7d6eb;
$text-light: #ffffff;

.navbar {
  @media (min-width: 992px) {
    display: none;
  }

  .menu-wrapper {
    width: 2rem;
    height: 2.3rem;
    position: relative;
    z-index: 6;
    top: 0px;
    right: 25px;
    display: flex;
    justify-content: space-around;
    flex-flow: column nowrap;
    transform: scale(1);
    cursor: pointer;
    transition: transform 0.3s ease;

    @media (max-width: 600px) {
      transform: scale(0.9);
      right: 10px;
    }

    div {
      width: 2.3rem;
      height: 0.25rem;
      border-radius: 10px;
      background-color: $primary-color;
      transform-origin: 1px;
      transition: all 0.3s linear;
    }

    &.open {
      position: fixed;
      top: 27px;
      right: 50px;
      div {
        background-color: #ccc;

        &:nth-child(1) {
          transform: rotate(45deg);
        }
        &:nth-child(2) {
          transform: translateX(100%);
          opacity: 0;
        }
        &:nth-child(3) {
          transform: rotate(-45deg);
        }
      }
    }
  }

  .nav-wrapper {
    position: fixed;
    top: 0;
    right: 0;
    width: 45%;
    height: 100vh;
    z-index: 1;
    transform: translateX(100%);
    opacity: 0;
    visibility: visible;
    transition: all 0.3s ease-in-out;
    background-color: rgba(90, 16, 105, 0.98);

    @media (max-width: 600px) {
      width: 60%;
    }

    &.open {
      transform: translateX(0);
      opacity: 1;
      visibility: visible;
    }

    nav {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      ul {
        width: 100%;
        padding: 0;

        li {
          z-index: 2;
          list-style: none;
          padding: 15px 0;
          margin-top: 10%;
          text-align: center;
          border-radius: 6px;
          transition: all 0.3s ease;
          
          &:hover {
            background-color: $bg-light;
            transform: scale(1.05);
          }

          a { 
            color: #ffffff;
            text-decoration: none;
            font-weight: 500;
            font-size: 1.3em;
            transition: color 0.2s;

            &:hover {
              color: $primary-color;
              background-color: rgba(255, 255, 255, 0.15);
              transform: scale(1.05);
            }

            @media (max-width: 600px) {
              font-size: 1.1em;
            }
          }
        }
      }
    }
  }
}
