$primary-color: #5a1069;
$light-bg: #fcf6fd;
$card-bg: #fff;
$card-border-color: #e1d1e4;

.next-events-container {
  background-color: $primary-color;
  background-image: linear-gradient(135deg, $primary-color, #7a2099);
  color: #fff;
  padding: 40px;
  border-radius: 15px;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);

  .header {
    display: flex;
    align-items: center;
    margin-bottom: 30px;

    i {
      font-size: 28px;
      margin-right: 15px;
    }

    h3 {
      font-size: 1.8rem;
      font-weight: 700;
    }
  }

  .events-grid {
    display: flex;
    gap: 20px;
    margin-bottom: 7%;

    .next-event-detail-card {
      background-color: rgba(255, 255, 255, 0.1);
      border-radius: 10px;
      border: solid 1px #94629e;

      padding: 20px;
      flex: 1;
      display: flex;
      flex-direction: column;

      .month-day {
        font-size: 1.6rem;
        font-weight: 700;
        margin-bottom: 10px;
      }

      .title {
        font-size: 1.1rem;
        font-weight: 600;
        margin-bottom: 10px;
      }

      .time-place {
        font-size: 0.95rem;
        font-weight: 400;
        opacity: 0.8;
        margin-bottom: 10%;
      }
    }
  }

  .calendar-container {
   
    text-align: center;
    .calendar-button {
      width: fit-content;
      display: inline-flex;
      align-items: center;
      padding: 10px 20px;
      background-color: #E7CDEC;
      color: $primary-color;
      text-decoration: none;
      font-weight: 600;
      border-radius: 5px;
      transition: background-color 0.3s;

      i {
        margin-left: 8px;
        font-size: 14px;
      }

      &:hover {
        background-color: #eee;
      }
    }
  }
}
