$primary-color: #5a1069;
$card-bg: #fff;
$input-border: #e1d1e4;
$text-color: #6b5e6e;

.contact-card {
  background-color: $card-bg;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
  width: 50%;
  height: fit-content;
}

.social-list {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.social-card-wrapper {
  h2 {
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 25px;
    text-align: start;
  }

  .social-item {
    display: flex;
    align-items: center;
    padding: 16px;
    border: 1px solid $input-border;
    border-radius: 10px;
    text-decoration: none;
    color: inherit;
    transition: 0.2s ease;

    &:hover {
      border: 1px solid $primary-color;
      background-color: #e6d6eb;

  
    }

    .icon-wrapper {
      background-color: #efe7f0;
      color: $primary-color;
      height: 40px;
      width: 40px;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 18px;
      margin-right: 15px;
    }

    .text-content {
      display: flex;
      flex-direction: column;

      span {
        font-weight: 600;
        color: #333;
        font-size: 1rem;
        text-align: start;
      }
      p {
        margin: 0;
        color: $text-color;
        font-size: 0.9rem;
      }
    }
  }
  i {
    font-size: 1.5rem;
  }
}
