$defaultColor: #5a1069;
main {
  width: 80%;
  margin: auto;
  text-align: center;

  section {
    margin-bottom: 10%;
  }

  // ================ home style ================
  .home-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 5%;
    .initial-text {
      background-color: #e7d6eb;
      color: $defaultColor;
      font-size: 14px;
      padding: 12px;
      border-radius: 100px;
      border: solid 1px #caaed0;
      font-weight: 500;
      box-shadow: 0 2px 6px rgba(0, 0, 0, 0.12);
    }
    h1 {
      margin-top: 1%;
      font-size: 4.5rem;

      span {
        color: $defaultColor;
      }
    }
    h2 {
      margin-top: 2%;

      color: #6b5e6e;
      font-weight: 500;
      line-height: 2.3rem;
    }
    .button-home {
      display: flex;
      gap: 20px;
      margin: 2%;

      a {
        padding: 12px;
        border-radius: 10px;
        border: solid 1px black;
        font-weight: 600;
        width: 175px;
        transition: 0.5s;
        &:hover {
          transform: scale(1.1);
          box-shadow: 0 2px 6px rgba(0, 0, 0, 0.12);
          cursor: pointer;
        }
      }
      a:nth-child(1) {
        background-color: $defaultColor;
        color: #ffffff;
      }
      a:nth-child(2) {
        border: solid 1px #e1d2e4;
      }
    }
    .journey-container {
      margin-top: 2%;

      h3 {
        font-size: 1.5rem;
        color: $defaultColor;
      }
      ul {
        margin-top: 5%;
        display: flex;
        list-style: none;
        gap: 20px;
        color: #6b5e6e;
        font-weight: 500;
      }
    }
  }

  // ================ about-LIGADA style ================
  .about-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    h2 {
      font-size: 3rem;
      span {
        color: $defaultColor;
      }
    }
    .about-text {
      font-size: 1.2rem;
      font-weight: 500;
      width: 60%;;
      margin-top: 2%;
      line-height: 2rem;
      color: #6b5e6e;
    }
    aside {
      display: flex;
      flex-direction: column;
      align-items: center;
      background-color: $defaultColor;
      color: #ffffff;
      width: 100%;
      border-radius: 14px;
      padding: 24px;
      margin-top: 5%;

      h3 {
        margin-top: 2%;
        font-size: 2rem;
      }
      p {
        margin-top: 2%;
        font-weight: 500;
        line-height: 2rem;
        font-size: 1.1rem;
        margin-bottom: 2%;
      }
    }
  }

  // ================ about-ADS style ================
  .ads-container {
    margin-top: 5%;
  }

  .contact-content{
    display: flex;
    justify-content: space-between;
    gap: 5%
    
  }
}


 // ================ generic style title section ================
.title-section {
  h2 {
    font-size: 3rem;
    span {
      color: $defaultColor;
    }
  }
  .text-title {
    margin: auto;
    font-size: 1.2rem;
    font-weight: 500;
    margin-top: 1%;
    margin-bottom: 4%;
    line-height: 2rem;
    width: 60%;
    color: #6b5e6e;
  }
}
