.scroll-top-button {
  position: fixed;
  bottom: 50px;
  right: 20px;
  width: 65px;
  height: 65px;
  border: 1px solid #D6BEDB;
  border-radius: 50%;
  background-color: #6F1B88;
  transition: 0.5s;
  z-index: 10;

  svg {
    width: 27px;
    height: 27px;
    color: #ffffff;
  }

  &:hover {
    cursor: pointer;
    transform: scale(1.1);
    background-color: #874699;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 4px 12px;
  }

  @media (max-width: 992px) {
    bottom: 20px;
    width: 57px;
    height: 57px;

    svg {
      width: 23px;
      height: 23px;
    }
  }
}
