$primary-color: #5a1069;
$card-bg: #fff;
$input-border: #e1d1e4;

.contact-card {
  background-color: $card-bg;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
  margin-bottom: 30px;
}

.card-header {
  display: flex;
  align-items: center;
  margin-bottom: 25px;

  i {
    font-size: 24px;
    color: $primary-color;
    margin-right: 10px;
  }
  h2 {
    font-size: 1.5rem;
    font-weight: 600;
  }
}

.form-side {
  form {
    display: flex;
    flex-direction: column;

    label {
      font-size: 0.95rem;
      font-weight: 600;
      color: $primary-color;
      margin-top: 15px;
      margin-bottom: 5px;

      text-align: start;
    }

    input,
    textarea {
      padding: 12px;
      border: 1px solid $input-border;
      border-radius: 8px;
      font-size: 1rem;
      color: #333;
      resize: vertical;

      &:focus {
        border-color: $primary-color;
        outline: none;
        box-shadow: 0 0 0 1px $primary-color;
      }
    }

    textarea {
      min-height: 150px;
      resize: none;
    }

    button {
      margin-top: 25px;
      padding: 15px;
      background-color: $primary-color;
      color: #fff;
      font-size: 1.1rem;
      font-weight: 600;
      border: none;
      border-radius: 8px;
      cursor: pointer;
      transition: background-color 0.3s;

      &:hover {
        background-color: darken($primary-color, 5%);
      }
    }
  }
}
